<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
">

	<context:property-placeholder location="classpath*:*.properties" />

	<bean id="mainWindow" class="pl.edu.agh.two.mud.client.ui.MainWindow" />

	<bean id="client" class="pl.edu.agh.two.mud.client.Client" scope="singleton">
		<constructor-arg ref="mainWindow" />
		<property name="connection" ref="connection" />
	</bean>

	<bean id="connection" class="pl.edu.agh.two.mud.client.connection.impl.ServerConnection" scope="singleton" />

	<bean id="commandRegistry" class="pl.edu.agh.two.mud.client.command.registry.CommandDefinitionRegistry" />

	<bean id="commandParser" class="pl.edu.agh.two.mud.client.command.CommandParser">
		<constructor-arg ref="commandRegistry" />
	</bean>

	<bean id="consoleController" class="pl.edu.agh.two.mud.client.command.ConsoleController">
		<constructor-arg ref="mainWindow" />
		<constructor-arg ref="commandParser" />
		<constructor-arg ref="commandRegistry" />
	</bean>
	
	
	<bean id="commandProvider" class="pl.edu.agh.two.mud.common.command.provider.SpringCommandProvider" init-method="buildProvider" />
	<bean id="commandExecutorProvider" class="pl.edu.agh.two.mud.common.command.provider.SpringCommandExecutorProvider" init-method="buildProvider" />
	<bean id="commandFactory" class="pl.edu.agh.two.mud.common.command.factory.ReflexiveCommandFactory">
		<property name="commandProvider" ref="commandProvider" />
	</bean>
	<bean id="dispatcher" class="pl.edu.agh.two.mud.common.command.dispatcher.SynchronizedDispatcher">
		<property name="commandExecutorProvider" ref="commandExecutorProvider" />
		<property name="commandFactory" ref="commandFactory" />
	</bean>

	<!-- BEGIN: Commands -->
	<bean class="pl.edu.agh.two.mud.common.command.definition.CommandDefinition">
		<constructor-arg>
			<util:constant static-field="pl.edu.agh.two.mud.client.command.ClientCommands.COMMAND_COMMANDS_ID" />
		</constructor-arg>
		<constructor-arg>
			<util:constant static-field="pl.edu.agh.two.mud.client.command.ClientCommands.COMMAND_COMMANDS_NAME" />
		</constructor-arg>
		<constructor-arg value="Wyswietla dostepne komendy" />
		<constructor-arg index="3">
			<list value-type="pl.edu.agh.two.mud.common.command.definition.ICommandParameterDefinition" />
		</constructor-arg>
		<constructor-arg value="false" />
	</bean>
	<!-- BEGIN: End -->


</beans>