<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
">

	<context:property-placeholder location="classpath*:*.properties" />
	<context:annotation-config />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="mainWindow" class="pl.edu.agh.two.mud.client.ui.MainWindow" />
	<bean id="mainConsole" class="pl.edu.agh.two.mud.client.ui.Console"
		factory-bean="mainWindow" factory-method="getMainConsole" />

	<bean id="client" class="pl.edu.agh.two.mud.client.Client" scope="singleton">
		<constructor-arg ref="mainWindow" />
		<property name="connection" ref="connection" />
	</bean>

	<bean id="connection" class="pl.edu.agh.two.mud.client.Connection"
		scope="singleton">
		<property name="commandDefinitionRegistry" ref="commandDefinitionRegistry" />
		<property name="mainWindow" ref="mainWindow" />
	</bean>


	<!-- BEGIN: Command infrastructure -->
	<bean id="converter"
		class="pl.edu.agh.two.mud.common.command.converter.UICommandToDefinitionConverter" />

	<bean id="commandDefinitionRegistry"
		class="pl.edu.agh.two.mud.client.command.registry.CommandDefinitionRegistry" />

	<bean id="commandParser" class="pl.edu.agh.two.mud.client.command.parser.CommandParser">
		<constructor-arg ref="commandDefinitionRegistry" />
	</bean>

	<bean id="commandFactory"
		class="pl.edu.agh.two.mud.client.command.factory.ClientCommandFactory">
		<property name="commandProvider" ref="commandProvider" />
	</bean>

	<bean id="commandProvider"
		class="pl.edu.agh.two.mud.client.command.provider.ClientSpringCommandProvider"
		init-method="buildProvider">
		<property name="commandDefinitionRegistry" ref="commandDefinitionRegistry" />
		<property name="converter" ref="converter" />
	</bean>

	<bean id="commandExecutorProvider"
		class="pl.edu.agh.two.mud.common.command.provider.SpringCommandExecutorProvider"
		init-method="buildProvider" />

	<bean id="dispatcher"
		class="pl.edu.agh.two.mud.common.command.dispatcher.SynchronizedDispatcher">
		<property name="commandExecutorProvider" ref="commandExecutorProvider" />
		<property name="commandFactory" ref="commandFactory" />
	</bean>
	<!-- END: Command infrastructure -->

	<bean id="consoleController" class="pl.edu.agh.two.mud.client.controller.ConsoleController">
		<constructor-arg ref="mainWindow" />
		<constructor-arg ref="commandParser" />
		<constructor-arg ref="dispatcher" />
	</bean>

	<!-- BEGIN: Commands & Executors -->
	<bean class="pl.edu.agh.two.mud.client.command.DisplayCommandsUICommand" />
	<bean
		class="pl.edu.agh.two.mud.client.command.executor.DisplayCommandsUICommandExecutor">
		<property name="commandDefinitionRegistry" ref="commandDefinitionRegistry" />
		<property name="mainWindow" ref="mainWindow" />
	</bean>

	<bean
		class="pl.edu.agh.two.mud.client.command.executor.DelegateToServerCommandExecutor">
		<property name="connection" ref="connection" />
		<property name="dispatcher" ref="dispatcher" />
	</bean>

	<bean
		class="pl.edu.agh.two.mud.client.command.executor.WriteErrorOnConsoleCommandExecutor">
		<property name="console" ref="mainConsole" />
	</bean>
	<!-- END: Commands & Executors -->


</beans>